@charset "UTF-8";
/* CSS Document */


body{padding:0 0;margin:0 0;font-size:20px;color:#333333;font-family:'Microsoft YaHei UI';letter-spacing:2px;}
img{width:auto;height:auto;display:block;}
input{outline:none;}

.outline{width:100%;height:auto;float:left;}
.outframe{width:1920px;height:auto;margin:0 auto;display:block;}
.frame{width:1200px;height:auto;margin:0 auto;display:block;}
.frame-main{width:100%;height:auto;float:left;padding:85px 0;}

/*Home-CSS 開始*/
.home-bg{width:100%;height:1080px;float:left;background:url("../images/home-bg.png") no-repeat;background-position:center;background-size:cover;}
.header-block{width:100%;height:auto;float:left;position: fixed;z-index: 99;-webkit-transition: all 150ms ease-in-out;-moz-transition: all 150ms ease-in-out;transition: all 150ms ease-in-out;}
.header-block.bg{background:rgba(0,0,0,0.8);}
.scrolled {width:100%;background:black;position: fixed;;-webkit-transition: all 150ms ease-in-out;-moz-transition: all 150ms ease-in-out;transition: all 150ms ease-in-out;}

.header-block>div{width:700px;height:75px;margin:0 auto;display:block;}
.header-block>div>a{width:140px;height:75px;float:left;text-align:center;line-height:75px;transition:all 0.5s;color:rgba(255,255,255,0.5);text-decoration:none;}
.header-block>div>a:hover{color:#faebbb;border-bottom:2px solid #faebbb;box-sizing:border-box;}
.header-block>div>a:active{color:#faebbb;border-bottom:2px solid #faebbb;box-sizing:border-box;}
.header-block>div>a.active{color:#faebbb;border-bottom:2px solid #faebbb;box-sizing:border-box;}

.home-main{width:660px;height:auto;margin:0 auto;display:block;position:relative;transform:translateY(-50%);top:50%;}
.home-main>img{margin:0 auto;margin-bottom:30px;}
.home-logo-sub{width:100%;height:auto;display:block;text-align:center;color:white;font-size:30px;letter-spacing:3px;}
.home-logo-detail-block{width:100%;height:auto;display:block;margin-top:50px;}
.home-logo-detail-contac{width:100%;height:25;display:block;font-size:22px;color:#00b4ff;}
.home-logo-detail-line{width:100%;height:2px;display:block;margin:15px 0px;background:rgba(255,255,255,0.5);}
.home-logo-media-icon{width:250px;height:40px;display:block;margin:0 auto;}
.home-logo-media-icon>a{margin-right:26px;float:left;}
.home-logo-media-icon>a:nth-last-child(1){margin-right:0px;}
.home-logo-media-icon>a>img{width:auto;height:40px;}
/*Home-CSS 結束*/

/*about-CSS 開始*/
.tittle{width:100%;height:auto;float:left;margin-bottom:50px;}
.tittle>img{width:auto;height:auto; display:block;margin:0 auto;}
.about-main{width:100%;height:auto;float:left;}
.about-main>div:nth-child(1){width:100%;height:182px;float:left;}
.about-main>div:nth-child(1)>img{width:auto;height:auto;float:left;margin-right:35px;}
.about-main>div:nth-child(1)>div{width:530px;height:182px;float:left; margin-left:5px;line-height:27px}
.about-main>div:nth-child(2){width:100%;height:auto;float:left;margin-top: 50px;line-height:27px}
.item-block{width:100%;height:auto;float:left;margin-top:50px;}
.item-range{width:950px;height:auto;display:block;margin:0 auto;}
.item-range>div{width:200px;height:auto;float:left;margin-right:150px;}
.item-range>div:nth-child(3){margin-right:0px;}
.item-icon{width:100%;height:auto;float:left;margin-bottom: 30px;}
.item-icon>img{width:auto;height:auto;display:block;margin:0 auto;}
.item-main{width:100%;height:auto;float:left;}
.item-main-tittle{width:100%;height:auto;float:left;color:black;margin-bottom: 10px;text-align:center;}
.item-main-word{width:100%;height:auto;float:left;color:#515151;font-size:18px;line-height:20px;text-align:center;}
/*about-CSS 結束*/

/*ADV-CSS 開始*/
.adv-bg{width:1920px;height:auto;display:block;margin:0 auto;}
.adv-bg.first{height:110px; background:url("../images/adv-first-bg.png") no-repeat;background-position:center;background-size:cover;padding-top:240px}
.adv-bg.second{height:83px; background:url("../images/adv-second-bg.png") no-repeat;background-position:center;background-size:cover;padding-top:417px}
.adv-btn{width:264px;height:49px;display:block;margin:0 auto;transition:all 0.5s;color:white;text-align:center;background:url("../images/adv-btn.png") no-repeat;text-decoration:none;line-height:49px;}
.adv-btn:hover{background:url("../images/adv-btn-hover.png") no-repeat;}
/*ADV-CSS 開始*/


/*Product-CSS 開始*/
.product-main{width:100%;height:auto;float:left;margin-top:100px;}
.product-main-each{width:270px;height:auto;float:left;margin-right:40px;}
.product-main-each:nth-last-child(1){margin-right:0px;}
.product-main-picture{width:190px;height:280px;display:block;margin:0 auto;margin-bottom:35px;background:black;}
.product-way-main{width:100%;height:auto;float:left;margin-top:100px;}
.product-way-tittle{width:100%;height:auto;float:left;}
.item-main-tittle.way{text-align:left;}
.item-main-word.way{text-align:left;}
.product-way-step{width:100%;height:auto;float:left;margin-top:45px;}
.product-way-step>img{width:auto;height:auto;display:block;margin:0 auto;}

/*Product-CSS 結束*/


/*Case-CSS 開始*/
.case-main-out{width:1560px;height:493px;float:right;}
.case-main-word{width:486px;height:265px;float:left;background:url("../images/case-word.png") no-repeat;position:absolute;}
.case-main-pic{width:1147px;height:400px;float:right;margin-top:75px;background:url("../images/case-total.png") no-repeat;}
.case-main-pic-group{width:840px;height:400px;float:left;margin-right:40px;}
.case-main-pic-group:nth-last-child(1){margin-right:0px;}
.case-main-pic-main{width:400px;height:400px;float:left;margin-right:40px;background:url("../images/case-1-1.png")}
.case-main-pic-main:nth-last-child(1){margin-right:0px;}
.case-slide-block{width:140px;height:50px;position:absolute;margin-top:443px;margin-left:350px;}
.case-slide-block>a:nth-child(1){width:70px;height:50px;float:left;background:url("../images/case-slide-left.png") no-repeat;}
.case-slide-block>a:nth-child(2){width:70px;height:50px;float:left;background:url("../images/case-slide-right.png") no-repeat;}
/*Case-CSS 結束*/

/*Contact-CSS 開始*/
.outline.contact{width:100%;height:287px;float:left;background:#333333;margin-top: 105px;}
.contact-tittle{width:auto;height: auto;float:left;margin-top:60px;margin-bottom:40px;}
.contact-main-block{width:100%;height: auto;float:left;}
.contact-input_block{width:250px;height:70px;float:left;margin-right:40px;}
.contact-input_block.name{width:250px;}
.contact-input_block.messege{width:620px;margin-right:0px;}
.contact-input_tittle{width:100%;height:15px;float:left;}
.contact-input_tittle>img{width:auto;height:15px;float:left;}
.contact-input_tittle>div{width:auto;height:auto;float:left;color:white;margin-left:10px;line-height:15px;}
.contact-input{width:100%;height:39px;float:left;background:none;border:none; border-bottom:1px solid rgba(255,255,255,0.3);color:white;font-size:20px;}
.contact-send-btn{position:absolute;float:right;right:360px;}
/*Contact-CSS 結束*/

/*footer-CSS 開始*/
.outline.footer{width:100%;height:135px;float:left;background:#262626;}
.footer-temp{width:1200px;height:auto;float:left;margin:35px 0;}
/*footer-CSS 結束*/

/*copyright-CSS 開始*/
.outline.copyright{width:100%;height:25px;float:left;background:white;text-align:center;line-height:25px;font-size:15px;}
/*copyright-CSS 結束*/